.moola_face_melt #page {background-image:url([[pix:theme|melt/heading_background]]);background-color:#f6f6f6;background-repeat: repeat-x;background-position:0 -10px;}
.moola_face_melt #page-header .headermain {background-color:transparent;}
.moola_face_melt #page-header .navbar {opacity:0.7;}
.moola_face_melt #page-content-wrap .region-content {margin-top:25px;}

.moola_face_melt .generalbox,
.moola_face_melt #page-content-wrap table,
.moola_face_melt #page-content-wrap form fieldset,
.moola_face_melt #page-content-wrap .unlist li > div,
.moola_face_melt .course_category_tree .category,
.moola_face_melt .course-content > ul > li  {background-color:#FFF;}

.moola_face_melt h2.header,
.moola_face_melt .generalbox,
.moola_face_melt #page-content-wrap .unlist li > div,
.moola_face_melt .course_category_tree .category,
.moola_face_melt .course-content > ul > li,
.moola_face_melt .course-content > ul.weeks > li.section,
.moola_face_melt #page-content-wrap form fieldset {-webkit-box-shadow:2px 2px 5px #E6E6E6;box-shadow:2px 2px 5px #E6E6E6;-moz-box-shadow:2px 2px 5px #E6E6E6;border-color:#aaa;}

.moola_face_melt .course_category_tree .category,
.moola_face_melt .course-content > ul > li {-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}

.moola_face_melt .header,
.moola_face_melt thead tr,
.moola_face_melt .course_category_tree .category {background-image:url([[pix:theme|melt/header]]);}

.moola_face_melt thead .header {background-image:none;background-color:transparent;}

.moola_face_melt .course_category_tree .category {background-position:300px 0;}

.moola_face_melt .course-content > ul > li > .content {min-height:50px;}

.fake_block_moola .possibleface.melt {width:32px;height:32px;background-image:url([[pix:theme|melt/heading_background]]);}