.moola_face_ruby #page-header .headermain {background-color:#fea81c;background-image:url([[pix:theme|ruby/header-background]]);color:#f7f7f7;border-color:#444;}
.moola_face_ruby #page-header {color:#eee;}
.moola_face_ruby .header {background-image:url([[pix:theme|ruby/heading-background]]);border-color:#fea81c;}
.moola_face_ruby .navbar {background-image:url([[pix:theme|ruby/heading-background]]);border-color:#444;}
.moola_face_ruby #custommenu {border-color:#444;}
.moola_face_ruby #custommenu .yui3-menu {background-image:url([[pix:theme|ruby/heading-background]]);border-color:#fea81c;}
.moola_face_ruby #region-bar .block .content-wrap .content {background-image:url([[pix:theme|ruby/header-background]]);border-color:#444;}
.moola_face_ruby #region-bar .block:hover .header {background-color:#444;}
.moola_face_ruby #region-bar .block .content-wrap .content > ul,
.moola_face_ruby #region-bar .block .content-wrap .content > div,
.moola_face_ruby #region-bar .block .content-wrap .content > table {background-color:#444;}
.moola_face_ruby #menu-bar-wrap {background-image:url([[pix:theme|ruby/header-background]]);border-color:#444;}
.moola_face_ruby #menu-bar-heading .headermain {color:#f7f7f7;}

.moola_face_ruby a:link, a:visited {color:#0096ff;}
.moola_face_ruby #page-header a:link,
.moola_face_ruby #page-header a:visited,
.moola_face_ruby .header a,
.moola_face_ruby .navbar a,
.moola_face_ruby #custommenu .yui3-menu a {color:#f7f7f7;font-weight:bold;}

.fake_block_moola .possibleface.ruby {width:32px;height:32px;background-image:url([[pix:theme|ruby/header-background]]);}